.mostrar-tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#1b1b1c, #141414, #1e1e1f);
    height: 100vh;
    width: 100%;
}

.mostrar-tabela h2 {
    text-align: center;
    color: white;
    padding-top: 50px;
}

.table-container2 {
    width: 80%;
    max-height: 90vh;
    overflow-y: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.table-container2 table td {
    padding: 20px;
    font-size: 18px;
    color: white;
}

.table-container2 .icone-excluir {
    cursor: pointer;
}

.icone-excluir:hover {
    color: red;
}

.concluido:hover {
    color: green;
    cursor: pointer;
}

@media (max-width: 600px) {
    .mostrar-tabela {
        margin-left: 5%;
    }

    .mostrar-tabela h2 {
        text-align: start;
    }
}