body{
    margin: 0;
    padding: 0;
}
.agendar{
    width: 100%;
    height: 100vh;
    display: flex;
    background: linear-gradient(#1b1b1c, #141414, #1e1e1f);
}
.container-agenda{
    width: 1900px; 
    background-repeat: no-repeat;
}
.tabela-agendamento{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    height: 400px;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}
.tabela-agendamento input, select{
    width: 90%;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}
.tabela-agendamento label{
    color: white;
    padding-top: 6px;
    padding-bottom: 5px;
}
.tabela-agendamento select{
 width: 90%;

}
.tabela-agendamento option{
    background-color: black;
}
.tabela{
    width: 300px;
    display: flex;
    flex-direction: column;

}
.tabela-agendamento button{
    width: 95%;
    margin-top: 10px;
    transition: 0.5s ease-in-out;
    border-color: aliceblue;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.tabela-agendamento button:hover{
    background-color:  #4caf50;
    color: white;
    
}
.observacao{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
.observacao textarea{
    width: 300px;
    height: 250px;
    resize: none;
    overflow-y: auto;
    background-color: transparent;
    font-size: 20px;
    border-radius: 5px;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.observacao label{
    text-align: center;
    font-size: 22px;
    color: white;
}
.horarios-agendados{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.horarios-agendados h3{
 margin-top: 100px;
 color: white;
 margin-bottom: 20px;
}
.horarios-agendados table td{
    padding: 20px;
    font-size: 18px;
}

/* Estilo geral da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
   
  }
  
  /* Estilo do cabeçalho da tabela */
  thead th {
    background-color: #4CAF50; /* Cor do cabeçalho */
    color: white;
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
  }
  .table-container{
    max-height: 400px;
    overflow-y: auto;
    width: 80%;
  }
  /* Estilo das linhas da tabela */
  tbody tr {
    border-bottom: 1px solid #ddd;
  
  }
  
  /* Estilo das células de dados */
  td {
    padding: 8px;
    text-align: left;
    color: white;
  }
  
  /* Alternância de cores nas linhas */
  tbody tr:nth-child(even) {
    background-color: #444444;
  }
  
  /* Destaque para observações */
  .obs-classe {
    font-style: italic;
    color: #666;
  }
  
  /* Estilo ao passar o mouse sobre uma linha */

 .table-container tr td:focus {
    outline: 2px solid #4CAF50; /* Efeito de foco */
  }

  
.horarios-agendados .obs-classe {
  width: 200px;
  word-break: break-all;
}


/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* largura da barra vertical */
    height: 12px; /* altura da barra horizontal */
  }
  
  /* Estilo do trilho da barra de rolagem */
  ::-webkit-scrollbar-track {
    background: #494949; /* cor de fundo */
    border-radius: 10px;
  }
  
  /* Estilo do polegar (a parte que se move) da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* cor do polegar */
    border-radius: 10px;

  }
  
  /* Alteração de cor ao passar o mouse sobre o polegar */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  