.sidebar {
    width: 50px;
    height: 100vh;
    background-color: #333;
    color: white;
    overflow: hidden;
    transition: width 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    padding-top: 20px;
}

li span {
    padding-right: 16px;
}

.sidebar li {
    width: 100px;
    transition: width 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
}

.sidebar:hover {
    width: 300px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

li span {
    font-size: 28px;
}

.sidebar li {
    padding: 15px 10px;
    text-align: start;
    cursor: pointer;
    width: 100%;
    transition: 0.5s ease-in-out;
}

.sidebar li:hover {
    background-color: rgb(36, 36, 36);
}